registry=https://atom-378493443145.d.codeartifact.us-east-1.amazonaws.com/npm/atom/
//atom-378493443145.d.codeartifact.us-east-1.amazonaws.com/npm/atom/:always-auth=true
//atom-378493443145.d.codeartifact.us-east-1.amazonaws.com/npm/atom/:_authToken=${CODEARTIFACT_AUTH_TOKEN}